<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>method</includeMdcKeyName>
            <includeMdcKeyName>uri</includeMdcKeyName>
        </encoder>
    </appender>

    <logger name="br.com.higor.elkstack.interceptor.LogInterceptor">
        <appender-ref ref="stash" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>